body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    background-color: white;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 2.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 100px;
    font-size: 2rem;
    border: 1px solid #e5e5e5;
    background-color: white;
    color: black;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: #ff9500;
    color: white;
}

.equal-sign {
    background-color: #2dbe60;
    color: white;
    grid-column: span 4;
    height: 100px;
}

.all-clear {
    background-color: #ff3b30;
    color: white;
}
